:root {
  --branding-color: #6c63ff;
  --primary-color: #272142;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 96px;
  line-height: 1.5;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

h2 {
  font-family: var(--heading-font-family);
  font-size: 64px;
}

img {
  aspect-ratio: 1/0.8;
}

nav {
  padding: 20px 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 90px;
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  font-family: var(--default-font-family);
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

.logo-kieuanhpham {
  max-width: 170px;
  aspect-ratio: 1/0.5;
}

.logo-kp {
  max-width: 60px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--primary-color);
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  color: #272142;
}

.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  font-family: var(--default-font-family);
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  font-family: var(--default-font-family);
}

.project-description {
  padding: 120px 60px;
}

.content {
  text-align: center;
  padding: 160px 20px;
  max-width: 1100px;
  display: block;
  margin: 0 auto;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  nav li {
    line-height: 45px;
  }

  nav a {
    font-size: 14px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .content {
    padding: 80px 20px;
  }

  .content h1 {
    font-size: 50px;
  }
}
